<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado")%>
		  <%} else{ %>
			<%- include('./partials/header') %>
		  <% }%>
		  
			<!-- Banner -->
			<div class="banner">
				<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
			</div>
			<!-- /Banner -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Productos</h2>
					</div>

					<!-- Show the "ultimos" products -->
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<% for( let i=0; i < listaProductos.length; i++ ) { %>
							<a href="/product/id/<%= listaProductos[i].id %> ">
								<figure class="product-box_image">
									<img src="/images/product/<%= listaProductos[i].productImg %> " alt="<%= listaProductos[i].productName %>">
								</figure>
								<article class="product-box_data">
									<h2><%= listaProductos[i].productName %> </h2>
									<p><%= listaProductos[i].productDescription %></p>
									<p>Comentarios: 12</p>
								</article>
							</a>
							<% } %>
						</section>
					</div>


					<!-- Show the "ultimos" products -->
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product">
								<figure class="product-box_image">
									<img src="images/products/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
								</figure>
								<article class="product-box_data">
									<h2>Macbook Pro 2019</h2>
									<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Eaque delectus ex</p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>