<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->

		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado")%>
		  <%} else{ %>
			<%- include('./partials/header') %>
		  <% }%>

			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title"><%= product.productName %></h2>
					<p class="product-detail-description">
						<a href="/product/add" class="editar">Editar</a>
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="<%= product.productImg %>" alt="<%= product.productName %>" class="product-detail-img">
							<hr>
							<br>
							<p class="product-detail-description"><%= product.productDescription %></p>
							<p class="product-detail-description">Usuario: <%= product.user.name %></p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<article>
									<img src="https://media.istockphoto.com/id/1388648617/es/foto/joven-cauc%C3%A1sico-confiado-con-ropa-casual-de-mezclilla-con-los-brazos-cruzados-mirando-a-la.jpg?s=612x612&w=0&k=20&c=TXOVrBbKuOCwjQTt4kOU7IPb0M7qyxsmUO2-oV9DVmw=" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="profile.html" class="nombres">Santos <p>
											</a> </strong>
											Excelente producto!
										</p>
									</div>
								</article>
								<article>
									<img src="https://img.freepik.com/foto-gratis/joven-mujer-negocios-sonriente-empresaria-camisa-blanca-brazos-cruzados-pecho-como-profesional-pie-sobre-fondo-estudio_1258-86015.jpg" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="profile.html" class="nombres">Martina<p>
												 </a> </strong>
											Me encanta. Ya lo compré!!!
										</p>
									</div>
								</article>
								<article>
									<img src="https://media.istockphoto.com/id/1386863107/es/foto/sonriente-feliz-joven-cauc%C3%A1sica-con-camisa-vaquera-mirando-a-c%C3%A1mara-con-los-brazos-cruzados.jpg?s=612x612&w=0&k=20&c=81i3PdmSiNlR9wCtzGB5x2406FEnCq61Zy8AWhsIyPI=" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="profile.html" class="nombres">Agustina<p>
												 </a> </strong>
											Buenisimo. Muy recomendable!!!!!!!!
										</p>
									</div>
								</article>
								<article>
									<img src="https://media.istockphoto.com/id/1185950276/es/foto/hombre-guapo-de-la-mediana-edad-con-camisa-de-mezclilla-azul-de-pie-sobre-fondo-blanco-aislado.jpg?s=612x612&w=0&k=20&c=6sbICtfTMfxK8ibRkF7YORxy_dosAzi5cG2sUOuwWeQ=" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="profile.html" class="nombres">Luis<p>
												 </a> </strong>
											Tienen envíos a todo el país?
										</p>
									</div>
								</article>
								<article>
									<img src="https://media.istockphoto.com/id/1189488315/es/foto/retrato-de-hombre-hispano-guapo-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=wq7WDy2QD4U3LDQ6wzHcsRlIh-beQV3mXKVn8DY2y5U=" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="profile.html" class="nombres">Brian<p>
												 </a> </strong>
											Increible!!
										</p>
									</div>
								</article>

							</section>
							<form class="form" action="" method="POST">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->

	</body>

</html>